[Bec]
IP = 192.168.2.10
Port = 2302
BePath = C:\Users\Kevinsson\Desktop\Dayz epoch SERVER\instance_11_Chernarus\BattlEye\
Admins = A2_Admins.xml
Commands = Commands.xml
[Misc]
Ban = 3
ConsoleHeight	= 30
ConsoleWidth	= 60
Scheduler = Scheduler.xml
KickLobbyIdlers	= 400
ChatChannelFiles = True
Timeout = 60
[Reporter]
#User = alfred
#Password = 123456
